/* Anpassungsstyles, die benoetigt werden damit der Text aussieht wie frueher */
#content p { text-align: justify } /* !! */
#content .center { text-align: center; }

#content .small { font-size: 80%; line-height: 130%; }

#content ul { list-style-image: url(/shared/img/fresh.design/arrowbg.menu.png); }

#content img.weisser-rahmen { border: 14px solid white; }

#content .clear-left { clear: left; }


a.go:before {
	content: "\bb"; /* unicode &raquo; */
	display: inline-block;
	padding-right: 2px;
	text-decoration: none;
	font-weight: bold;
}

/* a.go old style */
/*
a.arrow,
a.go {
	background-position: center left;
	background-repeat: no-repeat;
	padding-left: 13px;
}

a.arrow:link,
a.arrow:visited,
a.go:link,
a.go:visited {
	background-image: url(/shared/img/fresh.design/arrowbg.a.png);
}

a.arrow:hover,
a.arrow:active,
a.arrow:focus,
a.go:hover,
a.go:active,
a.go:focus {
	background-image: url(/shared/img/fresh.design/arrowbg-hot.a.png);
}*/