/**
 * t29v6 Design footer.css
 * $Id$
 * In dieser Datei:
 *
 *   footer = Container fuer alles im unteren Bereich (nav.guide, nav.rel, div.right)
 *   nav.guide = Beam-Navigation
 *   nav.rel = Relationale Navigation
 *   footer .right = Copyright-Bereich
 *
 **/

/* Footer innerhalb des Blattes, mit Navigationselementen */
footer.in-sheet {
	clear: both; padding-top: 1px; /* um margin innerer elemente an der oberkante beginnen zu lassen */
	height: 104px; width: 100%;
	/* temp. um Navi-Kram zu uebermalen: */
	position: relative; z-index: 20;
	
	/*border-top: 1px solid #5d5c58;*/
	background: transparent url("/shared/img-v6/line.header-footer.png") top left repeat-x;
	/* bgcolor was #f1f1f1  - transparent gesetzt um nur an einer stelle die farbe austauschen zu muessen */
}

/* "Beam Navigation" nav.guide */
nav.guide {
	position: absolute;
	z-index: 5; /* ueber nav.rel */
	top: -5px; left: -5px; /* damit bullets rausschauen */
	width: 870px; margin: 0 40px; /* wie #content, in breite ein paar px mehr wegen ueberstehenden bullets */
	/* width:900px, aber 10px Toleranz damit der Beam nicht umbricht wenn
       eine ungerade Anzahl an Items vorhanden ist (1px Toleranz wuerde schon reichen) */
}
nav.guide ul, nav.guide li { display: inline; }
nav.guide a {
	float: left;
	position: relative;
}

nav.guide a:hover, nav.guide a:focus {
	background-color: inherit; /* Overwrite nav a:hover bg white */
}

nav.guide .text {
	display: block;
	/*font: 12px "Futura Std Book";*/
	font-size: 12px; font-weight: bold;
	text-transform: uppercase;
	color: #5d5c58;
	position: absolute;
	top: -19px; left: 0;
	white-space: nowrap;
}

nav.guide a.higher-text .text {
	/* Labeltexte, die die default dargestellten Texte (.visible)
	   beim Hovern ueberpinseln und daher hoeher dargestellt werden */
	top: -34px;
}

nav.guide .bullet {
	width: 0; height: 0;
	border: 2px solid #5d5c58;
	padding: 4px;
	margin: 1px;
	display: inline-block;
	border-radius: 6px;
	position: relative;
}

nav.guide .visible > a > .bullet {
	border-width: 6px;
	padding: 0;
}


nav.guide a { opacity: 0; }
nav.guide li.visible > a,
nav.guide a:hover, nav.guide a:focus { opacity: 1; }

/*
nav.guide .bullet, nav.guide .text { visibility: hidden; }
nav.guide li.visible > a > .bullet,
nav.guide .visible > a > .text,
nav.guide a:hover .bullet, nav.guide a:hover .text,
nav.guide a:focus .bullet, nav.guide a:focus .text {
	visibility:visible;
}
*/


/*
html.csstransitions nav.guide .bullet, html.csstransitions nav.guide .text {
	visibility: visible; opacity: 0;
	-webkit-transition: opacity .25s cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-moz-transition: opacity .25s cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-ms-transition: opacity .25s cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-o-transition: opacity .25s cubic-bezier(0.420, 0.000, 0.580, 1.000);
	transition: opacity .25s cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
html.csstransitions nav.guide li.visible > a > .bullet, html.csstransitions nav.guide .visible > a >  .text,
html.csstransitions nav.guide a:hover .bullet, html.csstransitions nav.guide a:hover  .text,
html.csstransitions nav.guide a:focus .bullet, html.csstransitions nav.guide a:focus .text {
	opacity: 1;
	-webkit-transition: opacity .25s cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-moz-transition: opacity .25s cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-ms-transition: opacity .25s cubic-bezier(0.420, 0.000, 0.580, 1.000);
	-o-transition: opacity .25s cubic-bezier(0.420, 0.000, 0.580, 1.000);
	transition: opacity .25s cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
*/

nav.guide a:hover .bullet, nav.guide a:focus .bullet {

}

/*nav.guide .current > a > .text { color: #40a8e2; }*/

/* Relationale Navigation */
nav.rel {
	position: relative;
	margin: 26px 70px 0;
	width: 800px;
}

nav.rel li {
	position: absolute;
	top: 0;
}

nav.rel li.prev { left: 0; }
nav.rel li.next { right: 0; }

nav.rel a {
	/*font: 12px "Futura Std Medium";*/
	text-transform: uppercase;
	display: inline-block;
	padding: 10px;
	line-height: 17px;
	font-size: 14px;
	color: rgba(65,111,124,.85); /*#416f7c;*/
	/*background-color: #dfe9f0;*/
	
	font-weight: bold;
	
	position: relative;
	/*height: 40px; *//* wegen arrow: height+2*padding=arrowheight */
	
	/* Zweizeilig bei langen Linktexten, etwa programmierbare */
	max-width: 27em;
}

nav.rel strong {
	display: block;
	font-weight: normal;
	/*opacity: .7;*/
}

nav.rel li.prev a { text-align: right; padding-right: 16px; }
nav.rel li.next a { text-align: left;  padding-left: 16px; }

nav.rel a:after {
	content: ""; width: 0;
	display: block;
	position: absolute;
	top: 0;
	border-top: 27px solid transparent;
	border-bottom: 27px solid transparent;
	border-left: 24px solid #307588;
	border-right: 24px solid #307588;
	opacity: .4;
}

nav.rel a:focus:after, nav.rel a:active:after {
/*	border-left-color: #40a8e2;
	border-right-color: #40a8e2;*/
}

nav.rel .next a:after {
	right: -24px;
	border-right: none;
}

nav.rel .prev a:after {
	left: -24px;
	border-left: none;
}
/*
nav.rel a:hover {
	background-color: #dfe9f0;
}

nav.rel a:active, nav.rel a:focus {
	background-color: #40a8e2;
	color: white;
}
*/

nav.rel a:hover {
	background-color: transparent;
}

nav.rel a:hover:after {
	opacity: 1;
	border-left-color: #A12A40;
	border-right-color: #A12A40;
}



/* Footer Icon-Sammlung und so */
/*
footer .right {
	position: absolute;
	top: 2px;
	right: 0;
	width: 230px;
	padding: 15px;
	text-align: right;
}

footer .right img.logo {
	float: right;
	width:30px;
	padding-left: 10px;
	padding-right: 11px;
}

footer .right div.icons {
	clear: left;
	padding-top: 8px;
}

footer .right .icons a { opacity: .5; }
footer .right .icons a:hover, footer .right .icons a:focus { opacity: 1; }
*/

/* Post-Footer */
footer.attached {
	/* @embed */ background: #307588 url("/shared/img-v6/bg-v2.body-footer.png") top left repeat-x;
	margin-top: -122px;
	padding: 122px 122px 10px;
	
	color: white;
	font-size: 14px;
}

footer.attached div.legacy {
	/* Text von alter Homepage (eine Zeile), übergangsweise */
	text-align: center;
	font-size: 15px;
}

footer.attached ul {
	width: 1170px;
	margin: 10px auto 20px;
	/* padding: 0 20px; *//* ueberfluessig, Breite allein reguliert schon */
}

footer.attached li {
	width: 370px;
	margin-right: 10px;
	float: left;
}

footer.attached a:link, footer.attached a:visited {
	color: #BAF1FF;
}

footer.attached a:hover {
	color: #3DD8FF;
}

footer.attached a.img {
	display: block;
	float: left;
	text-indent: -999px;
}

footer.attached p {
	margin-left: 80px;
	margin-top: 0px;
	line-height: 115%;
}


footer.attached li.logo a.img {
	background-image: url("/shared/img-v6/logo.footer.png");
	width: 46px; height: 59px;
}
footer.attached li.logo p { margin-left: 60px; }

footer.attached li.copy a.img {
	background-image: url("/shared/img-v6/cc-icon2.png");
	width: 100px; height: 42px;
}
footer.attached li.copy p { margin-left: 110px; }