/**
 * t29v6 Design content.css
 * $Id$
 * In dieser Datei:
 *
 *   #content = Inhaltsbereich
 *              h2, h3, h4 Ueberschriften
 *              Blockdesign, etc.
 *
 *   .messages = Logging, zentralisiert (siehe logging.php, template.php und log.js)
 **/

#content {
	font-family: Verdana, "DejaVu Sans", "Bitstream Vera Sans", Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 130%;
	text-align: justify;
}

h2 {
    font-weight: bold;
    font-size: 160%;
    line-height: 125%; /* wird sonst relativ zu falscher schriftgroesse vererbt */
    margin: 0 0 0.7em 0;
    padding: 0;
}

#content h2, #content h3, #content h4 {
    /* Seit 04.01.2010: Neues Ueberschriftenlayout. Soll aber nur
       auf Homepage genutzt werden, nicht etwa auf dev. oder so...! */
    font-weight: normal;
    font-family: "Trebuchet MS", Verdana, "DejaVu Sans", "Bitstream Vera Sans", Helvetica, Arial, sans-serif;
    font-size: 180%;
    border-bottom: 3px double #aaa;
    text-align: left; /* irgendwie meinen browser sonst `justify` */
}

#content h3 {
    /* Und das gleiche auch fuer Unter-Ueberschriften */
    font-size: 140%;
	margin: 1em 0 0.3em;
	padding-top: 1em; /* Padding damit Direktlink zu h3 nach oben Luft hat */
}

#content h4 {
	font-weight: bold;
	font-size: 100%;
	border-bottom: 1px solid #aaa;
	margin: 2.3em 0 1em;
}

#content h5 {
	font-weight: bold;
	font-size: 100%;
	border: none;
	margin: 0;
}

#content a:link, #content a:visited {
	color: #205b6b;
	text-decoration: underline;
}

#content a:hover, #content a:focus {
	color: #882224;
}

/**
 *  Logging
 **/

.messages.panel.empty {
	/* Hide empty message boxes */
	display: none;
}

.messages.panel { margin-bottom: 20px; }

.messages.panel > li {
	margin-bottom: 5px;
	background-color: #FCF8E3;
	border: 1px solid #FBEED5;
	border-radius: 4px 4px 4px 4px;
	margin-bottom: 20px;
	padding: 8px 35px 8px 14px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.messages.panel p { margin: 2px 0; }
.messages.panel button.close {
	float: right;
}

.messages.panel .panel-hide { display: none; }

.messages.panel h2, #content .messages.panel h2 {
	font-size: 120%;
	font-weight: bold;
	font-family: inherit;
	border: none;
	border-bottom: 1px solid #aaa;
	margin: 0;
	margin-bottom: 5px;
}

.messages.footer {
	/* sollte eigentlich gar nicht dargestellt werden, sondern von log.js
	   in den .messages.panel-Bereich verschoben werden. */
	opacity: .8;
}