/*
  Logobild statt Textueberschrift am 26.12.2013 fuer IBM 1130,
  nicht in ibm1130.css da Heribert in Univac ausprobieren will.
 */

.text-ersatz {
    border-bottom: 3px double #AAAAAA;
    /*height: 21px;*/
    overflow: visible;
    text-align: center;
}