/**
 * Media Queries for responsive webdesign
 * Fuer kleine Browserfenster sowie mobile Endgeraete.
 **/

/**
 * Schmaler als die "Blattmetapher" 1200px: Blattmetapher aufgeben und Ueberbleibsel
 * des Seitenhintergrundes ausblenden. Zur Ladezeitoptimierung braucht der auch gar
 * nicht mehr geladen werden.
 * Experimentell den Footer auch nicht mit der dunkeln Hintergrundfarbe machen, weil
 * er sonst sehr aufdringlich ist.
 *
 **/
@media all and (max-width: 1250px) { /* was: 1199px */
	body {
		background: #F4F4F4; /* BG von footer.attached */
	}

	#container {
		margin-top: 0;
		box-shadow: none;
	}
	
	footer.in-sheet.empty-footer {
		height: 2px; /* Nur Linie anzeigen, keine weisse Flaeche */
	}

	/*
	footer.attached {
		background: #F4F4F4;
		color: #777;
	}
	
	footer.attached a:link, footer.attached a:visited {
		color: #777;
	}
	*/
}

/**
 * Schmaler als 940px: Tablet-Design. Menue unten darstellen, keine Menuescrollfunktionen,
 * Menuepunkte nebeneinander (sieht huebsch aus).
 *
 **/
@media all and (max-width: 940px) {
	/* menue unten darstellen, Menuescrollfunktionen deaktivieren */
	#container {
		width: 940px;
	}

	/* Header-Navigation */
	header.banner {
		height: auto;
		background: none;
	}

	nav.horizontal {
		position: relative;
		top: auto; bottom: auto;
		margin: 108px 0 0 0;
		text-align: center;

		/* testweise: */
		background-color: #f1f1f1;
		border-bottom: 2px solid #d2d2d2;
		border-top: 2px solid #d2d2d2;
	}
	nav.horizontal .u1 > li > a {
		margin-bottom: 0; /* kein Abstand zu nav.horizontal */
		padding: 9px; /* groessere Klickflaechen */
	}

	li.small-screen-only {
		display: inline-block !important;
	}
	
	#background-color-container, #content, section.sidebar {
		float: none;
		left: auto;
		background-color: transparent;
	}

	section.sidebar {
		width: 100%;
		background-color: #dfeaf0;
	}
	section.sidebar nav.side .u1 > li > a {
		/* u1-Trenner abschalten */
		border-top: none;
		padding-top: 0;
	}
	
	/* clearfix */
	#content:after, section.sidebar:after { content: ""; display: table; clear: both; }
	
	nav.side { /* Quick and dirty */
		padding-bottom: 15px !important;
	}
	
	.button { display: none !important; } /* Quick and dirty */
	
	/* Spalten */
	section.sidebar ul.u1 > li {
		float: left;
		padding: 24px;
		width: 250px;
	}
	
	footer.in-sheet.empty-footer { display: none; }
}

/**
 * Schmaller als 600px: Handy-Design, alles einspaltig!
 *
 **/
@media all and (max-width: 600px) {
	#container {
		padding-top: 240px; /* wg grossem Header, to be fixed */
	}
	#container, #content, section.sidebar, #background-color-container {
		width: inherit;
	}
	#content {
		padding: 1.5em 1em;
	}

	#container h1 a {
		/* Banner in der Mitte anzeigen */
		left: 0; width: 100%;
		background-repeat: no-repeat;
		background-position: center center;
	}

	nav.rel {
		width: 100%;
		margin: 26px 0 0;
		text-align: center;
	}
	nav.rel li {
		position: relative;
	}

	footer.attached div.bigfooter ul,
	footer div.bigfooter li {
		padding: 0;
		width: 100% !important;
	}

	/* Mehrspaltige Contents. Overwrite dank #container */
	#container div.startseiten-boxen,
	#container div.startseiten-boxen .cols,
	#container div.startseiten-boxen .leftcol, 
	#container div.startseiten-boxen .rightcol,
	#content div.cols,
	#content div.cols .leftcol,
	#content div.cols .rightcol,
	#content div.desc-left,
	#content div.desc-right  {
		float: none;
		width: inherit;
		padding: 0 !important;
	}

	/* Box-System einspaltig machen */
	#content .auto-bildbreite img,
	#content .center img,
	#content .left img,
	#content .right img,
	#content div.desc-left img,
	#content div.desc-right img {
		float: none;
		display: block; margin: 0 auto; /* for small images */
		max-width: 100%;
		height: auto;
	}

	#content div.desc-left,
	#content div.desc-right,
	#content .auto-bildbreite {
		width: 100% !important;
		margin: 1em 0;
	}

}
