---
seiten_id: "sitemap"
titel: "Sitemap"
templateEngineOverride: njk
---
    <h2>Sitemap</h2>
    <p>Im Folgenden ist eine vollständige hierarchisch strukturierte Darstellung aller Einzelseiten
    des Internetauftritts von technikum29 dargestellt. Wenn Sie etwas nicht finden, ist dies eine
    Möglichkeit, zu suchen oder sich einen Überblick zu verschaffen. Wir weisen auch auf
    <a href="/de/suche.php">unsere Seitensuche</a> hin. Fast alle Seiten sind ins Englische übersetzt,
    die <a href="/en/sitemap.php">Sitemap der englischen Seiten</a> unterscheidet sich geringfügig.
    </p>

{% set navPages = nav_main %}
{% macro renderNavListItem(entry) -%}
<li{% if entry.url == page.url %} class="my-active-class"{% endif %}>
  <a href="{{ entry.url }}">{{ entry.title }}</a>
  <!--<tt style="font-size:80%">{{ entry.url }}</tt>-->
  ({% if entry.prev %}{{ entry.prev.key }} ← {% endif %}{{ entry.key }}{% if entry.next %} → {{ entry.next.key }}{% endif %})
{%- if entry.children.length -%}
  <ul>
    {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
  </ul>
{%- endif -%}
</li>
{%- endmacro %}

<ul class="sitemap u0a">
{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
</ul>
