/**
 technikum29.de Stylesheet for
 translation-special (only during translation-development
 on english pages)
**/

.special-box {
    padding: 5px;
    margin: 2px 2px 10px 2px;
    border: 1px solid #FFA4A4;
    background-color: #FFF3F3;
    border-left: 5px solid #FF6666;
}

.special-box .en {
    color: #999999;
}

.special-box p {
    margin: 2px;
    font-size: 90%;
}

#specialAlternate {
    /* für javascript-toggler: alternativtext */
    display: none;
    font-weight: bold;
}

#specialToggle {
    /* für javascript-toggler: link */
    float: right;
    font-weight: bold;
}
