
/*------------------------------------------*
 *          T E C H N I K U M 2 9           *
 *             Extrastylesheet              *
 *------------------------------------------*/

/* Stylesheet für alle Seiten in dem Verzeichnis
   /geraete. */

body
	{
	background-color: #FFF; /*#F2FCFF*/
	margin: 0px;
	padding: 5px;
	font: 12px Verdana,Helvetica,Arial,sans serif;
	}
body.wenig /* Mehr Rand für Wenig-Inhalt-Seiten */
	{
	margin: 0px;
	padding: 15px;
	}
p, td, div, ul, li, a, table, tr /* für NS4 */
	{
	font: 12px Verdana;
	}
hr
	{
	height: 1px;
	color: #7090C0;
	}
p
	{
	text-align: justify;
	line-height: 140%;
	}
blockquote /* Wanderer conti - Zitat */
	{
	margin: 5px 0px;
	padding: 0px;
	color: #2F319D;
	}
img
	{
	border: 0px;
	}
.center
	{
	text-align: center;
	}
td.bildtext
	{
	font-size: 100%; // da auf den Seiten nur Bildtext existiert
	text-align: justify;
	line-height: 110%;
	}
div.bildtext /* Bildbeschreibungs-Passagen UNTER dem Bild*/
	{
	font-size: 100%; // da auf den Seiten nur Bildtext existiert
	text-align: justify;
	line-height: 120%;
	margin: 10px 5%;
	}
a:link, a:visited
	{
	text-decoration: underline;
	color: #0E466A;
	}
a:hover
	{
	text-decoration: none;
	background-color: #B1C6DF;
	border: 1px solid #2C5494;
	color: #2C5494;
	}
a:active, a:focus
	{
	text-decoration: none;
	background-color: #F3D8D8;
	border: 1px solid #D54747;
	color: #D54747;
	}