/*
  This goes along with js-v6/modules/admin-buttons.js
  Introduced in March 2016 
*/

section#admin-buttons {
    background: #f7f7f6 none repeat scroll 0 0;
    border-top: 2px inset #656565;
    color: #6c6c6c;
    padding: 1em;
    text-align: center;
    margin-top: 5em;
}


