AuthType Basic
AuthName "technikum29 Projekt-Verzeichnisse (der Benutzername ist der Projektname!)"
AuthUserFile /etc/apache2/passwords/lernprojekte.passwd

# Require-Geschichten in den jeweilgen .htaccess-Files
#Require valid-users

IndexOptions +SuppressHTMLPreamble NameWidth=* DescriptionWidth=*
HeaderName /de/lernprojekte/Header.shtm
# darf nicht im admin-Verzeichnis stehen weil man dafuer
# Zugriffsrechte braeuchte

ErrorDocument 401 /de/lernprojekte/fehler.shtm
ErrorDocument 403 /de/lernprojekte/fehler.shtm
