/*
** v5.7.5 englische Grundlagenübersetzung.
** Zusatzdesign zum screen/fresh-Design
**
** Funktionen:
**
** .summary = Zusammenfassug oben von einer Seite
**
** <xyz class="progress[x]"> = Fortschritt andeuten
**    [x] kann dabei 0,10,20,30,...100 sein und steht für eine
**    entsprechende Prozentzahl, wie viel von diesem Teil bereits
**    übersetzt ist.
**
** <q> = Inlinezitat = nicht übersetzbarer Ausdruck
**
**
*/

.summary {
    margin: 2em 0;
    border: .3em solid #333333;
    padding: 1em 2em;
    font-weight: bold;
}

 .progress0, .progress10, .progress20, .progress30,
.progress40, .progress50, .progress60, .progress70,
.progress80, .progress90, .progress100 {
    /* was allgemeines? */
}

 .progress0 { background-color: #ff0000; }
.progress10 { background-color: #f46d4a; }
.progress20 { background-color: #f46d4a; }
.progress30 { background-color: #f6b763; }
.progress40 { background-color: #f7ea7a; }
.progress50 { background-color: #ecf989; }
.progress60 { background-color: #defa94; }
.progress70 { background-color: #c7fdb9; }
.progress80 { background-color: #cafcae; }
.progress90 { background-color: #c6fdbf; }
.progress100 { background-color: #00ff1e; }

q { background-color: red; color: white; }
