/**
 * t29.de translation system inline editor styles.
 * $Id$
 * (c) Sven Koeppel September 2010
 **/

span.tr-editable { display: block; }

span.tr-editable.tr-inspecting {
	background-color: #fffdd3; /* #e6ecf9; */
	outline: 1px dashed #aaa;
	/*margin: -4px; padding: 4px;*//* laesst gefloatete bilder haesslich huepfen */
}

span.tr-corrected.tr-inspecting {
	background-color: #e6f9ec;
}

div.tr-editing, /* spricht irgendwas gegen div.tr-editing? Die sind doch viel cooler*/
span.tr-editing {
	margin: -8px;
	padding: 8px;
	outline: 1px inset gray;
	background-color: white;
	color: black;
}

body.tr-editing { background-color: #eee; }
body.tr-editing #content { color: #555; }
body.tr-editing #content img { position: relative; }
body.tr-enabled #content h2 a.anchor, body.tr-enabled #content h3 a.anchor { display: none; }


#tr-infobox {
	position: absolute;
	background-color: #fffdbc;
	border: 1px dashed #aaa;
	border-bottom: none;
	margin-top: 1px; margin-left: -1px;
	padding: 8px;
	font-size: 120%;
}

#tr-infobox.tr-corrected {
	background-color: #acdca1;
}

#tr-infobox .thanks {
	color: #2e8027;
	font-weight: bold;
	text-shadow: 1px 1px 2px white;
}

 #tr-editorbox {
	width: 50%; /* body width - will be fixed with javascript */
	position: absolute;
	background-color: white;
	border: 1px inset gray;
	border-bottom: 1px dashed #ccc;
	margin-top: 1px;
	margin-left: -1px;
	padding: 8px; /* Gleicher Padding wie .tr-editing! */
}

#tr-editorbox h3 {
	margin: 0; margin-top: 2px;
	font-size: 110%;
}

#tr-editorbox p {
	margin: 0;
	text-align: left; font-size: 90%;
	color: #666;
}

#tr-editorbox .buttons, #tr-editorbox .smaller { float: right; margin-left: 5px; }
#tr-editorbox .submit { font-size: 108%; font-weight: bold; }
#tr-editorbox .help, #tr-editorbox .cancel {
	display: block;
	margin-bottom: 3px;
}
#tr-editorbox  .spinner { display: none; float: right; }
#tr-editorbox.loading .spinner { display: block; }
#tr-editorbox.loading .buttons { visibility: hidden; }
#tr-editorbox.success { background-color: #ACDCA1; }
#tr-editorbox.success .buttons { visibility:hidden; }
#tr-editorbox.error { background-color: #dca1a1; }
#tr-editorbox.error p { color: black; background-color: red; display: inline; }
#tr-editorbox .response {
	font-size: 154%;
	color: white;
	font-weight: bold;
	text-align: right;
	text-shadow: 2px 2px 3px #333;
	width: 90%;
	position: absolute;
}
 
 
#sidebar-tr, #sidebar .box {
	position: relative;
	background: none repeat scroll 0 0 rgba(196,212,236,0.49);
}
#sidebar-tr .arrow {
	border-color: transparent #acdca1 transparent transparent;
	border-style: solid;
	border-width: 32px 20px 32px 0;
	height: 0;
	left: -20px;
	position: absolute;
	top: 0;
	width: 0;
}

body.tr-enabled  #sidebar-tr {
	color: black;
	background-color: #acdca1;
	-moz-box-shadow: 1px 0 8px #999;
	box-shadow: 1px 0 8px #999;
}

/* body.tr-enabled shows only .tr-enabled elements, and vice versa */
body.tr-enabled  .tr-disabled, body.tr-disabled .tr-enabled { display: none; }
body.tr-enabled  .tr-enabled, body.tr-disabled .tr-disabled { display: block; }
/* default value, if no body.tr-* present: same state as .tr-disabled! */
body .tr-enabled { display: none; }
body .tr-disabled { display: block; }

/*
#sidebar-tr .tr-disabled h3 { margin: 0; font-size: 100%; }
#sidebar-tr .tr-disabled p {	margin: 5px 0; font-size: 90%; }
#sidebar-tr .tr-disabled { color: #444;}
#sidebar-tr .tr-disabled a { opacity: .8; }
*/

#sidebar-tr .tr-enabled  h3 {
	margin: 0;
	color:white;
	font-size:218%;
	font-weight:bold;
	line-height:90%;
	text-decoration:none;
	text-shadow:1px 1px 2px #555555;
	text-transform:uppercase;
	outline: none;
}

#sidebar-tr .tr-enabled p {
	color: #333;
	margin-top: 1em;
	font-size: 109%;
	font-weight: bold;
	text-align: left;
}

/** Link resets **/
#sidebar-tr a:link, #sidebar-tr a:visited,
#sidebar-tr a:hover, #sidebar-tr a:active  {
	color: inherit;
	text-decoration: none;
}

/* The most important *always-there* top notice */
#tr-topbox {
	background-color: rgba(172, 220, 161, .95);
	margin-bottom: 1em;
	-moz-box-shadow: 1px 0 8px #999999;
	box-shadow: 1px 0 8px #999999;
	
	width: 100%; 
	display: relative;
}

#tr-topbox.fixed {
	position: fixed;
	top: 0; left: 0;
	z-index: 1000;
}

body.tr-disabled #tr-topbox { display: none; }

#tr-topbox .buttons { display: table; width: 100%; }
#tr-topbox .buttons .row  { display: table-row; }

#tr-topbox .startup {
	padding: 15px;
	display: none; /* activated via t29.tr.display_startup_notice */
}

#tr-topbox.fixed .startup {
	/* Hide when user is scrolling */
	display: none !important;
}

#tr-topbox .startup h3 {
	margin: 0;
	color:white;
	font-size:146%;
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 2px #555555;
}

#tr-topbox .startup p {
	color: #666;
	margin: .3em 0;
	font-weight: bold;
	text-align: left;
	font-size: 90%;
}

#tr-topbox .field {
	/*float: right;*/
	background-color: rgba(255,255,255,0.2);
	padding: 12px;
	/*max-width: 123px;*/
	display: table-cell;
	cursor: pointer;
}

#tr-topbox .field ~ .field { /* avoid the rightmost border */
	border-left: 1px solid rgba(255,255,255,0.5);
}

#tr-topbox .field h4 {
	margin: 0; padding: 0;
	font: normal 100%;
	color: white;
	text-shadow: 1px 1px 2px #555555;
}

#tr-topbox .field p {
	color: #666666;
	font-size: 90%;
	margin: 3px 0;
	text-align: left;
}

#tr-topbox  input {
	background-color:rgba(255, 255, 255, 0.9);
	border:1px solid #ACDCA1;
	font: 90% Verdana;
}

#tr-topbox input:focus { border-color: black; }

#tr-topbox .field:hover { background-color: rgba(255,255,255,0.5); }
#tr-topbox .field.active { background-color: rgba(255,255,255,0.8); }
#tr-topbox .field.active h4 { color: black; text-shadow: none; }

#tr-topbox .extender {
	background-color: rgba(255,255,255,0.8);
	color: #666666;
	font-size: 90%;
}

#tr-topbox .extender > div {
	display: none; /* default value */
	padding: 14px;
}

.tr-body-borders {
	position: fixed;
	background-color: #ACDCA1;
	z-index: 1001;
}

/*
  CSS3 Buttons
  http://www.webdesignerwall.com/tutorials/css3-gradient-buttons/
*/
.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.bigrounded {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
.medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}
.small {
	font-size: 11px;
	padding: .2em 1em .275em;
}

/* color styles - !important nachtraeglich, wg. zu schwachen selektoren
---------------------------------------------- */

/* black */
.black {
	color: #d7d7d7 !important;
	border: solid 1px #333 !important;
	background: #333 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000)) !important;
	background: -moz-linear-gradient(top,  #666,  #000) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000') !important;
}
.black:hover {
	background: #000 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000)) !important;
	background: -moz-linear-gradient(top,  #444,  #000) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000') !important;
}
.black:active {
	color: #666 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444)) !important;
	background: -moz-linear-gradient(top,  #000,  #444) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666') !important;
}

/* gray */
.gray {
	color: #e9e9e9 !important;
	border: solid 1px #555 !important;
	background: #6e6e6e !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757)) !important;
	background: -moz-linear-gradient(top,  #888,  #575757) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757') !important;
}
.gray:hover {
	background: #616161 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b)) !important;
	background: -moz-linear-gradient(top,  #757575,  #4b4b4b) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b') !important;
}
.gray:active {
	color: #afafaf !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888)) !important;
	background: -moz-linear-gradient(top,  #575757,  #888) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888') !important;
}

/* white */
.white {
	color: #606060 !important;
	border: solid 1px #b7b7b7 !important;
	background: #fff !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed)) !important;
	background: -moz-linear-gradient(top,  #fff,  #ededed) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed') !important;
}
.white:hover {
	background: #ededed !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc)) !important;
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc') !important;
}
.white:active {
	color: #999 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff)) !important;
	background: -moz-linear-gradient(top,  #ededed,  #fff) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff') !important;
}

/* orange */
.orange {
	color: #fef4e9 !important;
	border: solid 1px #da7c0c !important;
	background: #f78d1d !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20)) !important;
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20') !important;
}
.orange:hover {
	background: #f47c20 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015)) !important;
	background: -moz-linear-gradient(top,  #f88e11,  #f06015) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015') !important;
}
.orange:active {
	color: #fcd3a5 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a)) !important;
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a') !important;
}

/* red */
.red {
	color: #faddde !important;
	border: solid 1px #980c10 !important;
	background: #d81b21 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317)) !important;
	background: -moz-linear-gradient(top,  #ed1c24,  #aa1317) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317') !important;
}
.red:hover {
	background: #b61318 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115)) !important;
	background: -moz-linear-gradient(top,  #c9151b,  #a11115) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115') !important;
}
.red:active {
	color: #de898c !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24)) !important;
	background: -moz-linear-gradient(top,  #aa1317,  #ed1c24) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24') !important;
}

/* blue */
.blue {
	color: #d9eef7 !important;
	border: solid 1px #0076a3 !important;
	background: #0095cd !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5)) !important;
	background: -moz-linear-gradient(top,  #00adee,  #0078a5) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5') !important;
}
.blue:hover {
	background: #007ead !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e)) !important;
	background: -moz-linear-gradient(top,  #0095cc,  #00678e) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e') !important;
}
.blue:active {
	color: #80bed6 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee)) !important;
	background: -moz-linear-gradient(top,  #0078a5,  #00adee) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee') !important;
}

/* rosy */
.rosy {
	color: #fae7e9 !important;
	border: solid 1px #b73948 !important;
	background: #da5867 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f)) !important;
	background: -moz-linear-gradient(top,  #f16c7c,  #bf404f) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f') !important;
}
.rosy:hover {
	background: #ba4b58 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845)) !important;
	background: -moz-linear-gradient(top,  #cf5d6a,  #a53845) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845') !important;
}
.rosy:active {
	color: #dca4ab !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#bf404f), to(#f16c7c)) !important;
	background: -moz-linear-gradient(top,  #bf404f,  #f16c7c) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf404f', endColorstr='#f16c7c') !important;
}

/* green */
.green {
	color: #e8f0de !important;
	border: solid 1px #538312 !important;
	background: #64991e !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e)) !important;
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e') !important;
}
.green:hover {
	background: #538018 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c)) !important;
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c') !important;
}
.green:active {
	color: #a9c08c !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f)) !important;
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f') !important;
}

/* pink */
.pink {
	color: #feeef5 !important;
	border: solid 1px #d2729e !important;
	background: #f895c2 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3), to(#f171ab)) !important;
	background: -moz-linear-gradient(top,  #feb1d3,  #f171ab) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb1d3', endColorstr='#f171ab') !important;
}
.pink:hover {
	background: #d57ea5 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#f4aacb), to(#e86ca4)) !important;
	background: -moz-linear-gradient(top,  #f4aacb,  #e86ca4) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4aacb', endColorstr='#e86ca4') !important;
}
.pink:active {
	color: #f3c3d9 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#f171ab), to(#feb1d3)) !important;
	background: -moz-linear-gradient(top,  #f171ab,  #feb1d3) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f171ab', endColorstr='#feb1d3') !important;
}
