
/*------------------------------------------*
 *          T E C H N I K U M 2 9           *
 *               Details CSS                *
 *------------------------------------------*/

/*
   updated / .. für v5.5
*/

td, table, tr
	{
	font: 12px Verdana;
	}
table p
	{
	text-align: justify;
	line-height: 120%;
	}
table p.center
	{
	margin: 5px 0px;
	text-align: center;
	}
td b
	{
	display: block;
	}
td.b, td.b a
	{
	font-weight: bold;
	}
table
	{
	background-color: #7090C0;
	}
td
	{
	padding: 2px;
	vertical-align: middle;
	text-align: center;
	background-color: #F7FDFF;
	}
th
	{
	padding: 2px;
	text-align: center;
	background-color: #BED0E5;
	}
.bemerkungen
	{
	vertical-align: middle;
	text-align: justify;
	}
/*
a:link, a:visited
	{
	text-decoration: underline;
	color: #0E466A;
	}
a:hover
	{
	text-decoration: none;
	background-color: #B1C6DF;
	border: 1px solid #2C5494;
	color: #2C5494;
	}
a:active, a:focus
	{
	text-decoration: none;
	background-color: #F3D8D8;
	border: 1px solid #D54747;
	color: #D54747;
	}

*/