/* Anmeldebox */


#anmeldung  h4 { margin-top: 0; }

#anmeldung  dl dt {
	float: left; clear: left;
	width: 180px;
	text-align: right; font-weight: bold;
	margin-top: 0;
}

#anmeldung dl dd {
	margin: 0 0 0 200px;
	padding: 0 0 0.5em 0;
	text-align: left;
}

#anmeldung input[type=submit] {
    color: green;
    font-weight: bold;
    padding: 9px;
}

#anmeldung input[type=text],
#anmeldung input[type=email],
#anmeldung select,
#anmeldung textarea {
	width: 70%;
}

#anmeldung input[type=number] {
	width: 3em;
}

#anmeldung textarea {
	min-height: 4em;
}

#recaptcha_area {
	margin: 10px 0;
}

#recaptcha_table {
	background-color: white;
}

div.captcha {
	width: 70%;
	border: 1px solid  #aaa;
	padding: 1em;
	box-sizing: border-box;
	font-size: 80%;
	background-color: #eee;
}

label.checkbox {
	width: 70%;
	display: inline-flex;
}

label.checkbox span {
	display: block;
	margin-left: 1em;
}
