/* A general blog page style */
/* SvenK, 2019-02-04 */

#blog-heading {
	display: block;
	position: absolute;
	left: 40px;
	bottom: 0;
	margin: 0 0 1em 0;
	font-weight: bold;
	color: white;
	text-shadow: 0 0 3px #000;
}

#blog-heading a.title {
	font-size: 320%;
	line-height: 121%;
}

#blog-heading span.subtext {
	display: block;
	font-size: 110%;
}

header.blog a:link, header.blog a:visited {
	text-decoration: none !important;
	color: inherit !important;
}

header.blog a:hover, header.blog a:active {
	color: #d9dedf !important;
}
 
section.blog.author_info {
	margin-top: 3em;
	background-color: #dfeaf0;
	padding: 1.2em;
	color: #333;
}

#content section.blog.author_info img.photo {
	width: 150px;
	border-radius: 50%;
	margin-right: 1.5em;
	margin-bottom: 0;
}

#content section.blog.author_info h4 {
	margin: 0;
	border: none;
}

h2 span.blog_subline {
	display: block;
	float: right;
	font-size: 50%;
}
