/*section.sidebar a.button.termine {
	display: none !important;
}*/

body.lang-de h1 a {
	background-image: url("/shared/img-v6/banner.png");
}

/* Neues Design ab Juni 2015, Experiment-Styles */

section.sidebar a.termine {
	/* zugehoerig zur normalen Homepage */
	display: none;
}

/* teaser, von devzone kopiert */
header.teaser {
	margin: -60px -40px 40px;
	position: relative;
	overflow: hidden;
}

header.teaser h2, #content header.teaser h2 {
	border: none !important;
	position: absolute;
	bottom: 0; left: 0;
	width: 100%;
	padding: 0.3em 40px;
	margin: 0;
	background-color: rgba(255,255,255,.3);
	color: white;
	text-shadow: 1px 1px 5px #1C1C1C;
	
	font-size: 250%;
	text-align: center;
}

header.teaser h2 span.subtext {
	display: block;
	font-size: 60%;
	line-height: 100%;
	text-shadow: 1px 1px 2px #282828;
}


header.teaser img {
	width: 100%;
}


header.teaser::before {
	/* css3 hack to get img inset box-shadow */
	display:block;
	content:'';
	position:absolute;
	width:100%;
	height:100%;
	box-shadow: 0 -20px 59px -4px rgba(0, 0, 0, 0.35) inset;
}

/* sidebar */
section.sidebar div.text-block,
section.sidebar div.bild-block {
	margin-top: 2em;
	margin-bottom: 2em;
}

section.sidebar div.text-block a,
section.sidebar div.bild-block a {
	display: inline !important;
}

section.sidebar div.text-block {
	margin: -15px -25px 15px;
	padding: 35px 25px;
}

section.sidebar div.bild-block img {
	width: 100%;
}

section.sidebar div.bild-block .bildtext {
	margin-top: .5em;
}

section.sidebar div.alertbox {
	background-color: #edf0f2;
	margin: -35px -25px 15px;
}

section.sidebar div.text-block li {
	display: block;
	margin: .4em 0;
}



/* Wie auf Startseite */
#content h3 {
    border: medium none;
    color: #1a5160;
    font-family: inherit;
    font-size: 113%;
    font-weight: bold;
}