/**********************************************************************\
| SPEZIAL STYLE                                                        |
+----------------------------------------------------------------------+
| Für:                 Neue Startseiten, (de|en)/index.shtml           |
| In Benutzung seit:   v5.7 (Redesign)                                 |
| Besonderheiten:      Zweispaltiges Design mit Boxen                  |
| Zuletzt geändert:    v5.7                                            |
|     08.04.2011: Startseitendesign noch mal geändert in so einen      |
|                 grauen Hintergrund und so                            |
|                                                                      |
\**********************************************************************/


#content div.startseiten-boxen,
#content div.startseiten-boxen div {
    padding: 1em;
    margin: 0;
    /*border: 1px solid blue;*/
}

#content div h2 /* id zur Bedeutungssteigerung */ {
    font-weight: bold;
    font-size: 113%;
    font-family: inherit; /* 04.01.10: Neue Header-Styles */
    border: none;         /*           neutralisieren     */
    color: #1A5160; /* gleiche Farbe wie Navilinks rechts */
}

#content div ul {
    text-align: justify;
    margin: 0;
    padding-left: 1em;
}

#content div div.foto,
#startseitenfoto-en {
    /* #startseitenfoto-en für /en, da gibts kein #content */
    border: none;
    padding: 0;
    margin: 2em auto;
    background: none;
    width: 338px; height: 228px; /* Bildgrößen */
    position: relative;
}

#content .foto p {
    position: absolute;
    bottom: 0; right: 0;
    margin: 0 3px 2px 0; 
    text-align: right;
    color: #fff;
    font-size: 90%;
    font-weight: bold;
}


/* Termine-Bereich, ab 14.05.2013 */

#termine {
	/* Experiment: Helle Hintergrundbox */
	background-color: #EDF0F2;
	margin: 20px -40px -60px;
	padding: 30px 40px 60px;
}

#termine h2 {
	text-align: center;
	margin-bottom: 1.4em;
}

#termine div.termin.box {
	margin-top: 1em;
	margin-bottom: 1em;
}

#termine div.termin, #termine div.termin p {
	/* zu schmale spalte fuer blocktext */
	text-align: left;
}

#termine div.termin h4 /* id zur Bedeutungssteigerung */ {
    font-weight: bold;
    font-size: 100%;
    margin: 0;
    font-family: inherit; /* 04.01.10: Neue Header-Styles */
    border: none;         /*           neutralisieren     */
    color: #1A5160; /* gleiche Farbe wie Navilinks rechts */
}

/* Details */
#termine dl.daten {
	font-size: 80%;
}

#termine dl.daten dt {
	float: left; clear: left;
	width: 70px;
	text-align: left; font-weight: normal; color: #333333;
	margin-top: 0;
}

#termine dl.daten dd {
	margin: 0 0 0 80px;
	padding: 0 0 0.5em 0;
	text-align: left;
}

#termine dl.daten a.button {
	padding: 0.1em;
	font: inherit;
	font-weight: bold;
	text-transform: inherit;
	
	/* aus der nicht funktionierenden 25-buttons */
	outline: none;
	padding: 0.3em 1em 0.3em;
	border-radius: .5em;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

/* Q&D: im Archiv keine Anmeldung mehr anzeigen */
#termine div.archiv dd.anmeldung { display: none; }

/*#termine dl.daten.right {
	float: right;
	margin: 0 0 30px 30px;
	background-color: #eee;
	padding: 20px;
	width: 14em;
}*/

/* Date Icon */
#termine div.termin {
	/* fuer p.date */
	margin-left: 52px;
}

/* Date Icon-Formatierung jetzt in modules/18-content.css */

#termine div.termin p.date.left,
#termine div.termin div.left {
	float: left;
	margin-left: -52px;
}

/* Anmelden-Button links */
#termine div.termin div.left a.anmeldung {
    background-image: url("/shared/img-v6/register-icon.png");
    background-position: 4px 5px;
    background-repeat: no-repeat;
    font-family: arial;
    font-size: 10px;
    font-weight: bold;
    line-height: 10px;
    margin: 0 -2px 0 -5px;
    outline: medium none;
    padding: 10px 11px 11px;
    text-transform: inherit;
}

#termine div.termin div.left a.anmeldung:hover,
#termine div.termin div.left a.anmeldung:focus {
    color: black;
}

/* zu lange floats link */
#termine div.termin dl dt { clear: none; }
    
/*
 * Kleine Buttonleiste
 **/

#termine div.button-box {
	/*opacity: 0.7;*/
	margin-bottom: 20px;
}

/* Anmeldemaske, per AJAX eingebunden */

#termine div.anmelde-maske {
	background-color: #DFEAF0;
	padding: 1em;
}


/* Button box */
#termine a.button {
	font-family: "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	padding: 1em;

	/*font: 14px "Myriad Pro Light";*/
	font-size: 14px;
	text-transform: uppercase;
	color: #a07f60;
	font-weight: bold;
}

#termine a.button:hover {
	background-color: white;
}

#termine a.anmeldung-btn {
	/* Soll auffallen */
	background-color: #DBEBF7;
	
	outline: none;
	padding: .5em 2em .55em;
	border-radius: .5em;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}