
#content h4 {
	border: none;
	margin-top: 0;
}

#content img.thumbnail {
	width: 200px;
}

@media all and (max-width: 1250px) { /* mobile */
	#content h4 {
		margin-top: 1em;
		text-align: center;
	}
}
