
/**********************************************************************\
| SPEZIAL STYLE                                                        |
+----------------------------------------------------------------------+
| Für:                 UNIVAC 9400-Gebiet:                             |
|                         /de/rechnertechnik/univac9400.shtm           |
|                         /de/geraete/univac9400/                      |
| In Benutzung seit:   v5.5.2 wegen Designkorrektur, Spezialisierung   |
|                      auf der Univac-Seite                            |
|                      Teile später in v5.7 und v5.8 hinzugekommen     |
| Besonderheiten:      Auf der Univac-Hauptseite:                      |
|                      Links floatende Bildergalerie, einfache Listen- |
|                      struktur gebraucht, zudem einmalig.             |
|                      Außerdem: Panoramabildmenüverschiebung.         |
| Zuletzt geändert:    v5.7.11                                         |
|                                                                      |
\**********************************************************************/

ul.univac-thumbs, ul.univac-thumbs li {
   list-style: none;
   margin: 0; padding: 0;
   float: left; /* beseitigt Bug mit class="box left/right" im Text. */
}

ul.univac-thumbs li {
   float: left;
   margin: 10px 50px 20px 0;
   clear: left;
}

ul.univac-thumbs li img {
   width: 238px; /* um unschönen textreinfließeffekt zu umgehen */
}

/* Univac-Seite seit 5.7.11: Menü unter Panoramabild
   Quick&Dirty-Lösung, angelehnt an Navigationsleistenhintergrundrealisierungen */
.univac #wrapper #menu {
    margin-top: 520px; /* circa... */
}

/* Rand links, damit Liste im Univac-Artikel ordentlich aussieht (Jan 2010) */
.univac li {
	margin-left: 270px;
}
