/* Stile fuer Schulseiten, ehemals unter /schule/style.css */
/* zusammen mit graydesign.css anwenden */

h2 { clear: inherit; }

body {
	font-size: 100%;
	max-width: 850px;
	margin: 0 auto;
	padding: 1em;
}

ul.dir, ul.sdir {
    list-style: none;
    padding-left: 20px;
    margin-left: 0;
}

ul.sdir li {
    background: url(http://src.technikum29.dehttp://src.technikum29.de/icons/small/generic.gif) top left no-repeat;
    padding-left: 20px;
    line-height: 140%;
}

ul.dir li {
    background: url(http://src.technikum29.de/icons/generic.gif) top left no-repeat;
    padding-left: 26px;
    line-height: 26px;
}

/*
    Nette Icons.
    Für einige existieren nur die großen Varianten.
*/

ul.dir  li.dir   { background-image: url(http://src.technikum29.de/icons/folder.gif); }
ul.sdir li.dir   { background-image: url(http://src.technikum29.de/icons/small/folder.gif); }

ul.dir  li.text  { background-image: url(http://src.technikum29.de/icons/text.gif); }
ul.sdir li.text  { background-image: url(http://src.technikum29.de/icons/small/text.gif); }

ul.dir  li.img   { background-image: url(http://src.technikum29.de/icons/image2.gif); }
ul.sdir li.img   { background-image: url(http://src.technikum29.de/icons/small/image2.gif); }

ul.dir  li.box   { background-image: url(http://src.technikum29.de/icons/box2.gif); }
ul.dir  li.script{ background-image: url(http://src.technikum29.de/icons/script.gif); }
ul.dir  li.html  { background-image: url(http://src.technikum29.de/icons/layout.gif); }
ul.dir  li.tar   { background-image: url(http://src.technikum29.de/icons/tar.gif); }
ul.dir  li.zip   { background-image: url(http://src.technikum29.de/icons/compressed.gif); }

.neu {  font-size: 120%; }

/* gesehen-tabelle */

#gesehen {
	border-collapse: collapse;
	empty-cells: show;
	min-width: 600px;
}

#gesehen td {
	padding: 3px;
	border: 1px solid #333;
}
