/*
 *   technikum29.de
 *   CSS der "Homepage"/Startseite (/index.html), alleinstehend
 */

body {
    width: 100%; height: 100%;
    color: #FFF;
    font: bold 13px Verdana,Arial,sans-serif;
    margin: 0;
    background-color: #0B387C; /*#2C408B*/
    text-align: center;
}

h1 { display: none; }

#container {
    position: absolute;
    left: 50%; top: 50%;
    width: 675px; height: 450px;
    margin-left: -337px; margin-top: -225px;
    background-image: url(/shared/img/startseite-v2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    text-align: left;
}

#text {
    position: absolute;
    top: 160px; left: 360px;
    width: 325px;
    font: bold 14px Verdana,Arial,sans-serif; 
}

#author {
    display: none;
    position: absolute;
    bottom: 15px;
    left: 23px;
    font: 8pt Verdana,sans-serif;
    text-align: left;
    color: #7F8AB1;
    text-transform: lowercase;
}

#go {
    position: absolute;
    left: 0; top: 373px;
    width: 676px;
    margin: 1px 10px 6px -5px;
    padding: 5px; /* padding für border in #go a im IE */
    text-align: right;
    font: bold 18pt Verdana,Arial,sans-serif;
    letter-spacing: 0;
    word-spacing: 0;
}

#go span {
    /* Text "Eingang" */
    letter-spacing: 6px;
}

#go a {
    color: #FFF;
    text-decoration: none;
}

#go a:link, #go a:visited {
    border-bottom: 1px solid #FFF;
}

#go a:hover, #go a:focus, #go a:active {
    border-bottom: 2px dotted #72CFDF;
}